<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isaac.coolweather">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WeatherDetailActivity"
            android:label="@string/title_activity_weather_detail">
        </activity>
        <activity
            android:name=".activity.CitySelectionActivity"
            android:label="@string/title_activity_city_selection" />
        <activity
            android:name=".activity.ChooseCityDialogActivity"
            android:label="@string/title_activity_choose_city_dialog"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
